.preview {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.preview img {    
    width: 40%;
    margin-right: 20px;
}

@media (max-width: 980px) {
    .preview {
        flex-direction: column;
    }
    
    .preview img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}