.main-content {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
}

.main-content span {
    margin-right: 25%;
}

@media (max-width: 980px) {
    .main-content {
        flex-direction: column;
    }
    
    .main-content span {
        margin-right: 0px;
        margin-bottom: 60px;
    }
}